html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-rows: fit-content(8rem) 4rem auto;
  color: black;
  min-width: 100%;
  min-height: 100vh;
  background-color: #fafcf5;
}

.header {
  display: flex;
  justify-content: center;
  background-color: lightgray;
  grid-row: 1 / 2;
  padding: 1rem;
}

.new {
  display: flex;
  width: 9rem;
  height: 4rem;
  justify-content: center;
  border: 0.25rem solid #4ceb34;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: white;
}

.titles {
  margin-bottom: 0.5rem;
}

.item, .titles {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 2rem;
  gap: 2rem;
}

.books {
  padding: 1rem;
}

.remove {
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove svg {
  height: 1.2rem;
}

dialog {
  animation: fade-out 0.7s ease-out;
}

dialog[open] {
  animation: fade-in 0.7s ease-out;
}

dialog[open]::backdrop {
  animation: backdrop-fade-in 0.7s ease-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }

  100% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0);
  }

  100% {
    background-color: rgb(0 0 0 / 0.25);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.close {
  margin-top: 1rem;
}
