html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

svg:hover {
  transform: scale(1.4);
}
svg {
  transition: all 0.7s;
  transform-origin: 50% 50%;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-rows: fit-content(8rem) auto;
  color: black;
  min-width: 100%;
  min-height: 100vh;
  background-color: #fafcf5;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  grid-row: 1 / 2;
  padding: 1rem;
  box-shadow: 1px 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.new-button-container {
  display: flex;
  width: 100%;
  padding: 1.5rem;
}

.new {
  display: flex;
  color: white;
  font-weight: bold;
  width: 10rem;
  height: 3.5rem;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border: 0.25rem solid #596D48;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  padding: 0.5rem;
  background-color: #596D48;
}

.new:hover {
  background-color: #36b558;
  border: 1px solid #36b558;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: min(64rem, 100%);
  justify-self: center;
}

.readButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-size: 1rem;
  background-color: #f7f7f5;
  border: 1px solid #E5E7EB;
  border-radius: 0.5rem;
  height: 100%;
  width: 5rem;
}

.titles {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
}

.item, .titles {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 6rem 3rem;
}

.books {
  padding: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  font-size: 1.15rem;
  gap: 1rem;
}

.remove {
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove svg {
  height: 1.3rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.close {
  margin-top: 1rem;
}
